@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Libre+Baskerville:ital@1&family=Russo+One&family=Skranji:wght@700&display=swap');
.body {
    background-image: url('https://t4.ftcdn.net/jpg/04/93/70/73/240_F_493707399_EqlZkAcNT4Hli5yE28d5T4eoPH2OVtgJ.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    margin: 0px;
}

.container {
    max-width: 800px;
    margin: 0 ;
    background-image: url('https://t4.ftcdn.net/jpg/04/93/70/73/240_F_493707399_EqlZkAcNT4Hli5yE28d5T4eoPH2OVtgJ.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    padding: 20px;
    
   
}

.title {
    font-size: 42px; 
    font-family: 'Russo One';
    font-weight: normal; 
    letter-spacing: 0.8px; 
    color: #3e3b3b;
    text-align: center;
    margin-bottom: 20px;
    
}

.subTitle {
    font-size: 32px; 
    text-align: center;
    font-family: 'Russo One';
    font-weight: normal; 
    letter-spacing: 0.8px; 
    color: #3e3b3b;
    margin-bottom: 20px;
}


.inputField {
    width: calc(100% - 90px);
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
    margin-bottom: 10px;
  }

  .searchButton {
    background-color: #a73051; 
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: right;
  }
  
  .searchButton:hover {
    background-color: #af4157; /* A slightly darker shade for the button hover state */
  }
  

.resultContainer {
    background-color: #fff3e0; /* A soft background to each result for better legibility */
    border-left: 5px solid #ff5722; /* A stripe for some visual flair */
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.toiletName {
    color: #050705; /* A vibrant color for titles */
}

.description {
    color: #0e1113; /* Blue color for the text */
}

@media (max-width: 768px) {
    .inputField[type="text"] {
        width: calc(100% - 20px);
    }

    .searchButton {
        width: 100%;
        margin-top: 10px;
    }
}